img {
  width: 100%;
  border-radius: spacing/150;

  opacity: 1;
}
body {
  background: var(--color-stone-100, #f3e5d7);
}
.page {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 48px;
  border-radius: 8px;
}
.ligne {
  display: inline;
  padding: 4px;
  font-weight: bold;
  font-size: 1rem;
}
.yellow {
  background-color: #f0ffae;
}
.green {
  background-color: #b5ffae;
  margin-right: 16px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom: 1px solid black;
}
.ligne2 {
  color: #854632;
  font-weight: bold;
}
td {
  padding: 12px;
}
.youtube {
  background-color: #fff7fb;
  padding: 24px;
}
h2 {
  font-family: serif;
  color: #854632;
  font-size: 2rem;
}
h3 {
  color: #7a284e;
}
h1 {
  font-size: 3rem;
}
